<%- layout('auth/layout.html') %>

<div class="card z-index-0 fadeIn3 fadeInBottom">
  <!-- Card Header -->
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
      <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Reset Password</h4>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <form role="form" action="/resetpass" method="post" class="text-start">
      <!-- Hidden Input for PK -->
      <input type="hidden" name="pk" id="pk" value="{{pk}}">

      <!-- Password Field -->
      <div class="input-group input-group-outline my-3">
        <label class="form-label">New Password</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Reset</button>
      </div>

      <!-- Back to Sign-In Link -->
      <p class="mt-4 text-sm text-center">
        Do you remember your account?
        <a href="/auth/signin" class="text-primary text-gradient font-weight-bold">Sign In</a>
      </p>
    </form>
  </div>
</div>