<%- layout('components/layout') %>

  <div class="row">
    <div class="page-header min-height-300 border-radius-xl mt-4"
      style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-dark  opacity-6"></span>
    </div>
    <div class="card card-body mx-2 mx-md-2 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              <%= user.username %>
            </h5>
            <p class="mb-0 font-weight-normal text-sm">
              User
            </p>
          </div>
        </div>
        <div class="col-auto ms-auto">
          <div class="nav-wrapper position-relative">
            <a class="btn bg-gradient-dark edit-profile" type="button" data-bs-toggle="modal"
              data-bs-target="#editProfileModal" title="Edit Profile" data-id="<%=user.id%>"
              data-full_name="<%=user.full_name%>" data-mobile="<%=user.mobile%>" data-email="<%=user.email%>"
              data-department="<%=user.department%>" data-position="<%=user.position%>">
              <i class="material-symbols-rounded">edit_square</i>
              Edit Profile</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-12 col-xl-4">
            <div class="card card-plain h-100">
              <div class="card-header pb-0 p-3">
                <div class="row">
                  <div class="col-md-8 d-flex align-items-center">
                    <h6 class="mb-0">Profile Information</h6>
                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <hr class="horizontal gray-light my-4">
                <ul class="list-group">
                  <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong>
                    &nbsp; <%= user.full_name %>
                  </li>
                  <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp;
                    <%= user.mobile %>
                  </li>
                  <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; <%=
                      user.email %>
                  </li>
                  <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Department:</strong>
                    &nbsp; <%= user.department %>
                  </li>
                  <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Position:</strong> &nbsp;
                    <%= user.position %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Profile -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editProfileForm" action="/profile/update" method="POST">
          <div class="modal-body">
            <input type="hidden" name="id" id="id">
            <p class="mb-0"><label class="form-label">Full Name</label></p>
            <div class="input-group input-group-outline mb-3">
              <input name="full_name" id="full_name" type="text" class="form-control form-control-lg">
            </div>
            <p class="mb-0"><label class="form-label">Mobile</label></p>
            <div class="input-group input-group-outline mb-3">
              <input name="mobile" id="mobile" type="text" class="form-control form-control-lg">
            </div>
            <p class="mb-0"><label class="form-label">Email</label></p>
            <div class="input-group input-group-outline mb-3">
              <input name="email" id="email" type="email" class="form-control form-control-lg">
            </div>
            <p class="mb-0"><label class="form-label">Department</label></p>
            <div class="input-group input-group-outline mb-3">
              <input name="department" id="department" type="text" class="form-control form-control-lg">
            </div>
            <p class="mb-0"><label class="form-label">Position</label></p>
            <div class="input-group input-group-outline mb-3">
              <input name="position" id="position" type="text" class="form-control form-control-lg">
            </div>

          </div>
          <div class="input-group input-group-outline my-3">
            <label class="form-label">Mobile</label>
            <input type="text" class="form-control form-control-lg">
          </div>
          <div class="input-group input-group-outline my-3">
            <label class="form-label">Department</label>
            <input type="text" class="form-control form-control-lg">
          </div>
          <div class="input-group input-group-outline my-3">
            <label class="form-label">Position</label>
            <input type="text" class="form-control form-control-lg">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('click', function (event) {
      const target = event.target.closest('.edit-profile');
      if (target) {
        // Extract data attributes from the clicked element
        const id = target.dataset.id;
        const full_name = target.dataset.full_name;
        const mobile = target.dataset.mobile;
        const email = target.dataset.email;
        const department = target.dataset.department;
        const position = target.dataset.position;

        // Populate the modal fields with the extracted data
        document.querySelector('.modal-body #id').value = id;
        document.querySelector('.modal-body #full_name').value = full_name;
        document.querySelector('.modal-body #mobile').value = mobile;
        document.querySelector('.modal-body #email').value = email;
        document.querySelector('.modal-body #department').value = department;
        document.querySelector('.modal-body #position').value = position;
      }
    });
  </script>