<%- layout('components/layout') %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- Card Header -->
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>User Data</h6>
                        </div>
                        <div class="col-lg-6 col-5 text-end">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-superuser">
                                <i class="material-symbols-rounded">add</i>&nbsp;Add
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table id="add-row" class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Username
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Email
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Role
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Creation Time
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Verification Time
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Update Time
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Activation
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(function(user) { %>
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        <%= user.username %>
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">
                                                <%= user.email %>
                                            </p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">
                                                <%= user.role %>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">
                                                <%= user.created_at %>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">
                                                <%= user.verified_at %>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">
                                                <%= user.updated_at %>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="form-check form-switch d-flex justify-content-center">
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="form-button-action">
                                                <a class="open-edit-superuser btn btn-primary btn-sm"
                                                    data-bs-toggle="modal" data-bs-target="#edit-superuser"
                                                    data-id="<%= user.id %>" data-username="<%= user.username %>"
                                                    data-email="<%= user.email %>" data-role="<%= user.role %>">
                                                    &nbsp;Edit
                                                </a>
                                                <a class="open-delete-superuser btn btn-danger btn-sm ml-2"
                                                    data-bs-toggle="modal" href="#delete-superuser"
                                                    data-id="<%= user.id %>" data-username="<%= user.username %>">
                                                    &nbsp;Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-superuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Tambah Pengguna</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <form action="/user/create" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <!-- Username -->
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Username</label>
                            <input name="username" type="text" class="form-control" required />
                        </div>

                        <!-- Email -->
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" required />
                        </div>

                        <!-- Password -->
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" required />
                        </div>

                        <!-- Role -->
                        <div class="input-group input-group-outline mb-3">
                            <select name="role" class="form-control" required>
                                <option value="" disabled selected>-- Choose a Role --</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="STAFF">STAFF</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>

                        <!-- Terms and Conditions -->
                        <div class="form-check form-check-info text-start ps-0">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
                                required />
                            <label class="form-check-label" for="flexCheckDefault">
                                Saya menyetujui <a href="javascript:;" class="text-dark font-weight-bolder">Syarat dan
                                    Ketentuan</a>
                            </label>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn bg-gradient-success">
                            <i class="fas fa-user-plus"></i>&nbsp;Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-superuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Edit Pengguna</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <form action="/user/update" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id" />
                        <!-- Username -->
                        <p class="mb-0"><label class="form-label">Username</label></p>
                        <div class="input-group input-group-outline mb-3">
                            <input name="username" id="username" type="text" class="form-control" required />
                        </div>

                        <!-- Email -->
                        <p class="mb-0"><label class="form-label">Email</label></p>
                        <div class="input-group input-group-outline mb-3">
                            <input name="email" id="email" type="email" class="form-control" required />
                        </div>

                        <!-- Role -->
                        <p class="mb-0"><label>Role</label></p>
                        <div class="input-group input-group-outline mb-3">
                            <select name="role" class="form-control" id="role" required>
                                <option value="" disabled selected>-- Pilih Role --</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="STAFF">STAFF</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn bg-gradient-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-superuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Hapus Pengguna</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p>Apakah Anda yakin ingin menghapus data pengguna <b><span id="username"></span></b>?</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer" style="border-top: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <a type="button" class="btn btn-danger" href="#">Hapus</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('click', function (event) {
            // Open Edit Superuser Modal
            if (event.target.matches('.open-edit-superuser')) {
                const id = event.target.dataset.id;
                const username = event.target.dataset.username;
                const email = event.target.dataset.email;
                const role = event.target.dataset.role;

                document.querySelector('.modal-body #id').value = id;
                document.querySelector('.modal-body #username').value = username;
                document.querySelector('.modal-body #email').value = email;
                document.querySelector('.modal-body #role').value = role;
            }

            // Open Delete Superuser Modal
            if (event.target.matches('.open-delete-superuser')) {
                const id = event.target.dataset.id;
                const username = event.target.dataset.username;

                document.querySelector('.modal-body .id').href = '/user/delete/' + id;
                document.querySelector('.modal-body #username').textContent = username.toLowerCase();
            }
        });
    </script>
    </body>

    </html>